<form action="/<%= action %>" method="post">
    <input type="text" name="nome" id="nome" placeholder="Insira um item" value="<%= value %>">
    <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>
</form>
<br>
<h3><%= titleForm %></h3>

